html, body {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

h1, h2, h3, h4 {
  font-family: 'Coda Caption', sans-serif;
}

p, a {
  font-family: 'Raleway', sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

/* NAVIGATION */

nav {
  position: fixed;
  display: flex;
  height: 50px;
  width: 100%;
  background-color: #03256C;
  color: white;
}

.logo {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* FEATURE */

.feature {
  background-image: url('../images/pizza-feature.jpg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
  border-bottom: 5px solid #03256C;
  color: white;
}

.feature h1 {
  font-size: 8em;
  text-align: center;
}

.feature p {
  font-size: 1.25em;
  text-align: center;
  letter-spacing: 2px;
}

/* DETAILER */

.detailer {
  display: flex;
  justify-content: space-between;
}

.sections {
  width: 130px;
  display: flex;
  flex-direction: column;
  margin: 80px 10px 0px 10px;
  align-items: center;
}

.sections li {
  height: 130px;
  width: 130px;
  background-color: #03256C;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0px;
}

.sections li img {
  height: 90px;
  width: 90px;
  transition: height 500ms, width 500ms;
}

.sections li img:hover {
  height: 110px;
  width: 110px;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.detail-title {
  width: 50%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #03256C;
  color: white;
  font-size: 1.5em;
  margin-bottom: 40px;
}

.detail-heading {
  font-size: 4em;
  margin: 0;
}

/* MENU */

.menu {
  width: 100%;
  display: none;
}

.menu-section {
  width: 50%;
}

.menu-table {
  width: 100%;
  height: 725px;
  font-family: 'Raleway', sans-serif;
}

.menu-table caption {
  font-size: 1.75em;
  font-style: italic;
  margin-bottom: 20px;
  font-family: 'Coda Caption', sans-serif;
}

tbody td:nth-child(1n+2) {
  text-align: center;
  font-size: 1.25em;
  width: 90px;
}

.menu-item {
  font-size: 1.5em;
  margin-bottom: 5px;
}

.menu-description {
  font-size: 1em;
}

tr {
  height: 30px;
}

th {
  font-size: 1.25em;
}
