html, body {
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

h1, h2, h3, h4 {
  font-family: 'Coda Caption', sans-serif;
}

p, a {
  font-family: 'Raleway', sans-serif;
}

a {
  text-decoration: none;
  color: white;
}


/* NAVIGATION */

nav {
  position: fixed;
  display: flex;
  height: 50px;
  width: 100%;
  background-color: #03256C;
  color: white;
}

.logo {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}


/* FEATURE */

.feature {
  background-image: url('../images/pizza-feature.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
  border-bottom: 5px solid #03256C;
  color: white;
}

.feature h1 {
  font-size: 8em;
  text-align: center;
}

.feature p {
  font-size: 1.25em;
  text-align: center;
  letter-spacing: 2px;
}


/* DETAILER */

.detailer {
  display: flex;
  justify-content: space-between;
  border-bottom: 5px solid #03256C;
}

.sections {
  width: 130px;
  display: flex;
  flex-direction: column;
  margin: 80px 10px 0px 10px;
  align-items: center;
}

.sections li {
  height: 130px;
  width: 130px;
  background-color: #03256C;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0px;
}

.sections li img {
  height: 90px;
  width: 90px;
  transition: height 500ms, width 500ms;
}

.sections li img:hover {
  height: 110px;
  width: 110px;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.detail-title {
  width: 50%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #03256C;
  color: white;
  font-size: 1.5em;
  margin-bottom: 40px;
}

.detail-heading {
  font-size: 4em;
  margin: 0;
}

.sub-detail {
  display: flex;
  justify-content: space-between;
  width: 500px;
  text-align: center;
  margin: 30px 0px;
}

.sub-detail h2 {
  font-size: 2.5em;
}

.sub-detail p {
  font-size: 1.5em;
  margin: 10px 0px;
}

.sub-detail a {
  font-size: 1.5em;
  margin: 10px 0px;
  display: block;
}


/* MENU */

#speciality-pizza-menu, #custom-pizza-menu, #pizza-topping-menu {
  display: table;
}

#speciality-sub-menu, #sub-menu, #sub-menu-2 {
  display: none;
}

#speciality-sub-menu tr {
  height: 55px;
}

#sub-menu-2 tr {
  height: auto;
}

#sub-menu-2 td {
  width: 50%;
  text-align: center;
  font-size: 1em;
}

.menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.menu-section {
  width: 45%;
}

.menu-table {
  width: 100%;
  font-family: 'Raleway', sans-serif;
}

.menu-table caption {
  font-size: 1.75em;
  font-style: italic;
  margin-bottom: 20px;
  font-family: 'Coda Caption', sans-serif;
}

tbody td:nth-child(1n+2) {
  text-align: center;
  font-size: 1.25em;
  width: 90px;
}

.menu-item {
  font-size: 1.5em;
  margin-bottom: 5px;
}

.menu-description {
  font-size: 1em;
}

tbody tr {
  height: 70px;
  transition: background-color 500ms;
}

#menu-left tbody tr:hover {
  background-color: rgba(3, 37, 108, 0.2);
}

th {
  font-size: 1.25em;
}

#pizza-topping-menu tr {
  height: 50px;
}

#pizza-topping-menu td {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#menu-right {
  display: flex;
  flex-direction: column;
  /*justify-content: space-between;*/
}


/* LOCATION */

#location {
  height: 80%;
  background-image: url('../images/eat-here.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#location .detail-heading, #location .sub-detail {
  color: white;
}


/* FOOTER */

footer {
  height: 20%;
  width: 100%;
  background-color: #03256C;
}
